@import "tailwindcss";

@theme {
  --color-primary: #3f7b56;
  --color-bg: #f3f3f3;
  --color-primary-dark: #0284c7;
  --color-risk-low: #22c55e;
  --color-risk-medium: #f59e0b;
  --color-risk-high: #ef4444;

  --color-accent-secondary-text: #8eae7e;

  --color-secondary-text: #afafa9;
  --color-green-gradient-dark: #12432c;
  --color-green-gradient-light: #237f58;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
@utility secondary-text {
  color: var(--color-secondary-text);
  font-weight: 300;
  font-size: 1em;
}
/* Custom CSS variables for CareBridge theme */
:root {
  --color-primary: #3f7b56;
  --color-primary-dark: #0284c7;
  --color-risk-low: #22c55e;
  --color-risk-medium: #f59e0b;
  --color-risk-high: #ef4444;
  background-color: var(--color-bg);
}

body {
  margin: 0;
  min-height: 100vh;
  font-family:
    "Open Sans",
    system-ui,
    -apple-system,
    sans-serif;
}

#root {
  min-height: 100vh;
}
